<h1 class="text-center mt-4"><%= @user.username %>'s Profile</h1>
<div class="container">
    <div id="page-content">
        <div class="flickr_pagination">
            <div class="page_info">
            <%= page_entries_info @articles %>
            </div>
            <%= will_paginate @articles, :container => false %>
        </div>
    
        <div class="text-center mt-4">
            <% if logged_in? && @user == current_user %>
                 <%= link_to "Edit you profile", edit_user_path(@user), class: "btn btn-outline-info"%>
            <% end %>
        </div>
        <%= render "articles/article", obj: @user.articles %>
    </div>
</div>
